.app {
  font-family: 'Roboto';
}

.app-header {
  padding: 20px 0;
}

.app-header img {
  width: 100%;
  height: auto;
}

.app-header .title {
  text-align: center;
  height: inherit;
  vertical-align: center;
}

.capitalize {
  text-transform: capitalize;
}

.county-select .show-only-favorites {
  margin-top: 10px;
  float: right;
}

.react-toggle {
  margin-right: 8px;
  vertical-align: middle;
}

.county-detail {
  margin-top: 30px;
}

.indicator-charts {
  margin: 15px 0;
}

.indicator-table button.btn {
  width: 100%;
}

.indicator-table table th,
.indicator-table table td {
  text-align: center;
  vertical-align: middle;
}


