.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.county-select .selector {
  width: 100%;
}

.county-detail table th {
  text-align: center;
  vertical-align: middle;
}

.indicator-table button.btn {
  width: 100%;
}

