.App-logo {
  height: 80px;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.county-select .selector {
  width: 100%;
}

.county-detail table th,
.county-detail table td {
  text-align: center;
  vertical-align: middle;
}

.indicator-table button.btn {
  width: 100%;
}

.county-detail {
  margin-top: 30px;
}

.indicator-charts {
  margin: 15px 0;
}

.capitalize {
  text-transform: capitalize;
}

